{% extends 'base.html' %}

{% block titulo %}
Abbout us
{% endblock %}



{% block contenido %}
<h1 style = color:rgb(6,29,88)> Aqui esta disponible la información sobre el Sitio y sus Creadores</h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem"></div>
<h1 style = color:rdb(82,122,33)> Objetivo de la Pagina</h1>
<ol>Es una Pagina de Nutricion en la cual esta orientada en:
<li>Ayudar a las personas que deseen bajar de peso y llegar a un objetivo en particular.</li> 
<li>Ayudar y hacer conciencia a las personas que tienen un sobrepeso elevado, deben bajar de peso por su salud.</li>
<li>Ayudar a cambiar los malos habitos alimenticios.</li>
<li>Cada paciente sera medido antropometricamente y se les dara sus respectivas dietas.</li>
</ol>
<br>
<br>
<h1 style = color:rdb(82,122,33)> Datos sobre los Creadores del sitio</h1>
<br>
<br>
<h1 style = color:rgb(82,122,33)> Lucas Nowicki </h1>
<p>24 años</p>
<p>Lic. en Administración de empresas</p>
<p>Trabajo: Pricing SA en Chevron Business Support Center </p>
<h4>Contacto:</h4>
<p>lucasnowicki11@gmail.com</p>
<p>+5491136794947</p>
<br>
<br>
<br>
<h1 style = color:rgb(82,122,33)> Leonel Lupis </h1>
<p>27 años</p>
<p>Estudios Realizados: Curso de Personal Trainer (Terminado) y Actualmente cursando Progamacion Python</p>
<p>Trabajo: Administrativo en el Servicio Penitenciario Federal y Administrativo en Cooperativa de Finanzas</p>
<h4>Contacto:</h4>
<p>leonellupis@outlook.com</p>
<p>+5491135183507</p>
<br>
<br>
<br>
<h1 style = color:rgb(82,122,33)> Manuel Fainsod </h1>
<p>25 años</p>
<p>Estudios Realizados: Licenciatura en Administracion (UBA)</p>
<p>Profesional en gastronomia (IAG)</p>
<p>Trabajo: Analista financiero en Capetrol S.A. empresa de extraccion de petroleo crudo</p>
<h4>Contacto:</h4>
<p>manuelfainsod@gmail.com</p>
<p>+5491134035873</p>

{% endblock %}
