{% extends 'base.html' %}



{% block contenido %}
<br>
<h1 style = color:rgb(47,75,146)> Aqui podra cargar nuevos Avatares</h1>

{% if miFormulario %}
<h2 style="margin-left:30rem">Complete los campos del avatar</h2>

    {% if errors %}
        {% for key, value in errors %}
        <div class="alert alert-danger">{{value}}</div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'agregar avatar' %}" method="POST" style="margin-left:40rem;margin-top:7rem" enctype= "multipart/form-data">
        {% csrf_token %}
        <table>
            {{miFormulario.imagen}}
        </table>
        <input type="submit", value="Enviar!">
    </form>
    <img src="{% if request.user.avatar.imagen %}{{request.user.avatar.imagen.url}}{% endif %}" width="200px" height="200px">
{% elif new_client %}

<div class="card text-dark border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header text-white bg-secondary border-dark">{{new_client.sex}}</div>
    <div class="card-body text-white bg-dark border-dark">
    <h5 class="card-title">{{new_client.name}}, {{new_client.last_name}}</h5>
    <p class="card-text">{{new_client.birth_date}} Edad = {{new_client.age}}</p>
    <p class="card-text">Email:{{new_client.email}} </p>
    </div>
</div>

{% endif %}

{% endblock %}





        

        

