
{% extends 'base.html' %}



{% block contenido %}
<br>
<h1 style = color:rgb(47,75,146)> Aqui podra cargar nuevas evaluaciones</h1>


{% if form %}
<h2 style="margin-left:30rem">Complete los datos de la evaluación antropométrica</h2>
    <form action="" method="POST" style="margin-left:40rem;margin-top:7rem">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Enviar!">
    </form>
{% elif new_evaluacion %}
<div class= "d-flex" style="margin-top:5rem; margin-left:7rem">
    <div class="card text-dark border-dark mb-3" style="margin-left:30rem;">
        <div class="card-header text-white bg-secondary border-dark">{{new_evaluacion.name_evaluacion}}</div>
        <div class="card-body text-white bg-dark border-dark">
            <p class="card-text">Edad = {{new_evaluacion.age}}</p>
            <p class="card-text">Email:{{new_evaluacion.size}} </p>
            <p class="card-text">Edad = {{new_evaluacion.weight}}</p>
            <p class="card-text">Email:{{new_evaluacion.bodyfat}} </p>
            <p class="card-text">Edad = {{new_evaluacion.musclemass}}</p>
            <p class="card-text">Email:{{new_evaluacion.IMC}} </p>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}