{% extends 'base.html' %}

{% block titulo %}
Index
{% endblock %}


{% block contenido %}
<br>

<h1 align ="center">Bienvenido a nuestra web nutricional</h1>
<HR noshade size="8" width="60%" align="center">
<br>

<p align = "center" style="margin-top:5rem">
En esta Pagina podra asesorarse sobre como uno debe alimentarse habitualmente y podra ser medido antropometricamente para conseguir una dieta balanceada a sus necesidades.<br>
Buscando la promoción de una alimentación saludable y garantizar el derecho a la alimentación sana con equidad en el curso de la vida, mediante la reducción y prevencion de la malnutrición y el control de los riesgos sanitarios</p>

{% endblock %}