{% extends 'base.html' %}

{% block contenido %}
<br>
<h1 style = color:rgb(47,75,146)> Aqui se muestran las diferentes recetas</h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem"></div>
{% for recetas in recetas %}

    <div class="card text-dark border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header text-white bg-secondary border-dark">{{Recetas.name}}</div>
        <div class="card-body text-white bg-dark border-dark">
        <p class="card-text">recetas: {{Recetas.name}}</p>
        <p class="card-text">ingredientes:{{recetas.ingredients}} </p>
        <p class="card-text">cantidad de gramos:{{Recetas.number_of_grams}} </p>
        <p class="card-text">Cantidad de Colesterol:{{Recetas.amount_of_Cholesterol}} </p>
        <p class="card-text">Vitaminas:{{Recetas.vitamins}} </p>
        </div>
    </div>

{% endfor %}
{% endblock %}