{% extends 'base.html' %}

{% block contenido %}
<div class="container">
    <div class d-flex my-5>
        <h2>Modificar mis datos</h2>
        <form action="{% url 'cambiar datos' %}" method="POST" style="margin-left:18rem;margin-top:3rem" enctype= "multipart/form-data">
            {% csrf_token %}
            {% if errores %}
                {% for key, value in errores %}
                <div>{{value}}</div>
                {% endfor %}
            {% endif %}
            <table>
                <div class="card-body text-black bg-info border-dark">Imagen: {{form.imagen}}</div>
                <div class="card-body text-black bg-info border-dark"> Nombre: {{form.nombre}} </div>
                <div class="card-body text-black bg-info border-dark">Apellido: {{form.apellido}}</div>
                <div class="card-body text-black bg-info border-dark">Email: {{form.email}}</div>
                <div class="card-body text-black bg-info border-dark">Telefono: {{form.telefono}}</div>
                <div class="card-body text-black bg-info border-dark">Web: {{form.web}}</div>
                <div class="card-title text-black bg-info border-dark">Descripcion: {{form.descripcion}}</div>
            </table>
            <button button class="btn btn-outline-info my-2 my-sm-0" type="submit">Guardar</button>
        </form>
        <h3 style="margin-left:18rem;margin-top:3rem">Modificar contraseña</h3>
        <form action="{% url 'cambiar clave' %}" method="POST" style="margin-left:18rem;margin-top:3rem" enctype= "multipart/form-data">
            {% csrf_token %}
            {% if passError %}
                {% for key, value in passError %}
                <div>eroores {{value}}</div>
                {% endfor %}
            {% endif %}
            <table>
                <div class="card-text text-black bg-success  border-dark">Ingresa la nueva clave: {{passwordForm.password1}}</div>
                <div class="card-text text-black bg-success border-dark">Repeti la nueva clave: {{passwordForm.password2}}</div>
            </table>
            <button button class="btn btn-outline-success my-2 my-sm-0" type="submit">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}



